<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="../../backend/controllers/api.php" method="post">
    <input type="text" name="id_usuario" value="1">
    <input type="text" name="nome" value="1">
    <input type="text" name="email" value="1">
    <input type="text" name="senha" value="1">
    <input type="text" name="foto" value="1">
    <input type="text" name="data_nascimento" value="1">
    <input type="text" name="celular" value="1">
    <input type="text" name="data_cadastro" value="1">
    <input type="text" name="sys_whats" value="1">
    <input type="text" name="sys_email_confirmado" value="1">
    <input type="text" name="sys_confirmado_termos_de_uso" value="1">
    <input type="submit" value="ENVIAR" style="padding: 100px">
  </form>
</body>
</html>